//- includes/head.jade
title= title
meta(charset="utf-8")
//- IE 支持通过特定的 <meta> 标签来确定绘制当前页面所应该采用的 IE 版本。除非有强烈的特殊需求，否则最好是设置为 edge mode，从而通知 IE 采用其所支持的最新的模式。
meta(http-equiv="X-UA-Compatible",content="IE=Edge")
link(rel='stylesheet', href='/css/style.css')
