doctype html
html(lang="zh-cn")
  head
    include ./head.jade
    block css
  body
    //利用block划分区域，便于被继承
    block header
    block content
    block footer

  script(src="/js/angular.min.js")
  block script