extends layout

block css
  link(rel='stylesheet', href='//apps.bdimg.com/libs/bootstrap/3.3.4/css/bootstrap.min.css')

block content
  div(ng-app="myApp" ng-controller="userCtrl")
    div.container
      h3 Users
      table(class="table table-striped")
        thead
          tr
            th Edit
            th First Name
            th Last Name
        tbody
          tr(ng-repeat="user in users")
            td
              button.btn(ng-click="editUser(user.id)")
                span(class="glyphicon glyphicon-pencil") Edit
            td {{ user.fName }}
            td {{ user.lName }}
      hr
      button(class="btn btn-success" ng-click="editUser('new')")
        span(class="glyphicon glyphicon-user") Create New User
      hr
      h3(ng-show="edit") Create New User:
      h3(ng-hide="edit") Edit User:
      form(class="form-horizontal")
        div(class="form-group")
          label(class="col-sm-2 control-label") First Name:
          div(class="col-sm-10")
            input(type="text" ng-model="fName" ng-disabled="!edit" placeholder="First Name")
        div(class="form-group")
          label(class="col-sm-2 control-label") Last Name:
          div(class="col-sm-10")
            input(type="text" ng-model="lName" ng-disabled="!edit" placeholder="Last Name")
        div(class="form-group")
          label(class="col-sm-2 control-label") Password:
          div(class="col-sm-10")
            input(type="password" ng-model="passw1" placeholder="Password")
        div(class="form-group")
          label(class="col-sm-2 control-label") Repeat:
          div(class="col-sm-10")
            input(type="password" ng-model="passw2" placeholder="Repeat Password")
      <hr>
      button(class="btn btn-success" ng-disabled="error || incomplete")
        span(class="glyphicon glyphicon-save")修改


block script
  script(src="/js/page/page10.js")
