extends layout
  
block css
  link(rel='stylesheet', href='/css/page5.css')

// ng-valid: 验证通过
// ng-invalid: 验证失败
// ng-valid-[key]: 由$setValidity添加的所有验证通过的值
// ng-invalid-[key]: 由$setValidity添加的所有验证失败的值
// ng-pristine: 控件为初始状态
// ng-dirty: 控件输入值已变更
// ng-touched: 控件已失去焦点
// ng-untouched: 控件未失去焦点
// ng-pending: 任何为满足$asyncValidators的情况

block content
  div(ng-app='myApp')
    div(ng-app='myApp1' ng-controller='myCtrl1')
      input(ng-model='name')
      h1 {{greeting}}
      button(ng-click='sayHello()') 点我

    div(ng-app='myApp2' ng-controller='myCtrl2')  




block script
  script(src="/js/page/page5.js") 
