extends layout
  
block content
  div(ng-app='myApp1' ng-controller='myCtrl1')
    select(ng-init="selectedName=names[0]" ng-model="selectedName" ng-options="x for x in names")
    select
      option(ng-repeat="x in names") {{x}}
    div
      select(ng-model="selectedSite" ng-options="x.site for x in sites")
      h1 你选择的是:  {{selectedSite.site}}
      p  网站为：{{selectedSite.url}} 
    div
      select(ng-model="selectedSite")
        option(ng-repeat="x in sites" value="{{x.url}}") {{x.site}} 
      h1 你的选择：  {{selectedSite.url}}
    //- selectedSite为key对应的value
    div
      select(ng-model="selectedSite" ng-options="key for (key,value) in sites2")    
      h1 你的选择：  {{selectedSite}}
    // 汽车模型
    div 
      select(ng-model="selectedCar" ng-options="key for (key,value) in cars")    
      h1 你的选择汽车：  {{selectedCar.brand}}
      h1 模型：  {{selectedCar.model}}
      h1 颜色：  {{selectedCar.color}}
        

block script
  script(src="/js/page/page7.js") 