.app1>table, th, td {
	border: 1px solid grey;
	border-collapse: collapse;
	padding: 5px;
}

.app1>table tr:nth-child(odd){
	background-color: #f1f1f1;
}

.app1>table tr:nth-child(even){
	background-color: #ffffff;
}
